body{
    background-color: black;
}

ul{
    color: lightcoral;
    list-style-type :none;
}

li{
    color: white;
    list-style-type : none;
}

h1{
    color: lightgreen;

}

h2{
    color:plum;
}

h3{
    color:goldenrod;
}

h4{
    color: lightpink;
}

p{
    color: lightseagreen;
}

a{
    color:red;
}

th,tr,td{
    color: whitesmoke;
}

