body{
    background-color: rgb(48, 48, 48);
}

ul{
    color: lightcoral;
}

li{
    color: lightgoldenrodyellow;
    list-style-type :disc;
}

h1{
    color: lightgreen;

}

h2{
    color:plum;
}

h3{
    color:goldenrod;
}

h4{
    color: lightpink;
}

p{
    color: lightseagreen;
}

a{
    color:red;
}

