body{
    background-color: beige;
}

ul{
    color: darkorange;
}

li{
    color: goldenrod;
    list-style-type :disc;
}

h1{
    color: seagreen;

}

h2{
    color:purple;
}

h3{
    color:salmon;
}

p{
    color: darkcyan;
}


