<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {# CSS de base #}
            <link rel="stylesheet" href="{{asset('css/app.css')}}">
            {#Ajout de Boostrap pour tous les fichier du l'app#}
            <link src="{{asset('bootstrap-5.0.2-dist/css/bootstrap.min.css')}}>
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %} {# include du header#}

        {% block body %}{% endblock %}
        
        {% include 'footer.html.twig' %} {# include du footer#}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
